<!-- uc3music Section -->
    <section id="asociacion">
        <div class="container">
            <div class="row">
                        <p align="center">
                        <img src="img/logos/pick.png" alt="">
                        </p>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">UC3Music</h2>
                    <h3 class="section-subheading text-muted">Asociación de Música e Ingeniería de la Universidad Carlos III de Madrid</h3>
                </div>
            </div>

            <div class="row text-center">
            <p class="text-muted"> Como asociación de estudiantes nos gusta promover la inquietud de nuestros compañeros y dar buenas oportunidades para desarrollar sus conocimientos y habilidades. Buscamos que pilles el gusanillo de la electrónica y en especial el placer del Do It Yourself.</p>

            <p class="text-muted">Lo que más nos gusta es la tecnología al servicio de la música. Que en el S.XXI se traduce en electrónica. Por eso organizamos talleres en donde podamos aprender y afianzar de una manera entretenida, ¡pues es con música!, lo que nos enseñan los profesores en la universidad.</p>

            <p class="text-muted">Talleres, Hackatones, JamSession... esto es lo que hacemos para divertirnos.</p>
            </div>
        </div>
    </section>
