<!-- Talleres Section -->
    <section id="talleres">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Talleres</h2>
                    <h3 class="section-subheading text-muted">Nuestros talleres pasados y futuros.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hackaton.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Diciembre 2015</h4>
                                    <h4 class="subheading">Hackatón</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Un día, un equipo, un proyecto. Nuestra primera competición de ingeniería para poner a prueba la comunidad universitaria. La música tendrá mucha importancia...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uC3MoyV1.2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Noviembre 205</h4>
                                    <h4 class="subheading">uC3Moy V1.2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nueva PCB para un circuito mejorado. Nueva fuente de alimentación y amplificador operacional optimizados en laboratorio.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Drawdio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Noviembre 2015</h4>
                                    <h4 class="subheading">Taller Drawdio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nuestro lápiz musical con PCB a medida fue dado a conocer y construido por 20 participantes en un taller dentro del RoboKode.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/primer_uc3moy.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Abril 2015</h4>
                                    <h4 class="subheading">Primer uC3Moy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nuestro primer diseño de PCB para el famoso amplificador de auriculares. 26 personas pudieron construir su propio dispositivo y aprender de él. ¡Esperamos que todos disfrutéis del aparato!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Siguientes_jam_session.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enero y Febrero 2014</h4>
                                    <h4 class="subheading">Siguientes Jam Session</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Segunda, tercera, cuarta y quinta Jam Session! Mucho público y excelente ambiente entre músicos. Por el escenario pasaron guitarristas, bajistas, trompetistas, teclistas, bateristas, vocalistas... muchas personas unidas por el arte.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/primera_jam_session.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Noviembre 2014</h4>
                                    <h4 class="subheading">Primera Jam Session</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nuestra primera actividad musical en la universidad, ¡y qué bien sonó! Participaron quice músicos con mucho nivel y el público disfrutó con canciones e improvisaciones durante toda la tarde.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nace_el_cmoy.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agosto 2014</h4>
                                    <h4 class="subheading">Nace el uC3Moy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El detonante de nuestros proyectos electrónicos. Nuestro primer circuito comienza a sonar. Cogimos el famoso esquemático del CMoy y le diseñamos nuestra propia placa de circuito impreso.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nuestro_comienzo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2014</h4>
                                    <h4 class="subheading">Nuestro comienzo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Un grupo de estudiantes de la UC3M se juntaron para desarrollar ingeniería de la manera que más les gustaba, con música. ¡Y es que mucha parte de los estudios de teleco, electrónica, mecánica... se pueden demostrar con música.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡únete
                                    <br>y
                                    <br>crea!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
